<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.test.dao.impl"/>




    <!--    <context:property-placeholder location="jdbc.properties"/>-->
    <!--    <bean id="userDao" class="com.test.dao.impl.UserDaoimpl" init-method="init" destroy-method="destroy"/>-->

    <!--<bean id="userDao" class="com.test.dao.impl.UserDaoimpl">
        <property name="array">
            <array>
                <value>10</value>
                <value>20</value>
                <value>30</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>bob</value>
                <value>cat</value>
                <value>dog</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>bob</value>
                <value>cat</value>
                <value>cat</value>
                <value>dog</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="bob" value="Bob"/>
                <entry key="cat" value="Cat"/>
                <entry key="car" value="Car"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="bob">Bob</prop>
                <prop key="cat">Cat</prop>
                <prop key="car">Cat</prop>
            </props>
        </property>
    </bean>-->
    <!--    <bean id="bookDao" class="com.test.dao.impl.BookDaoimpl"/>-->
    <!--    <bean id="bookDao" class="com.test.dao.impl.BookDaoimpl">-->
    <!--        <property name="conn" value="3"/>-->
    <!--        <property name="database" value="mysql"/>-->
    <!--    </bean>-->
    <!--<bean id="bookDao" class="com.test.dao.impl.BookDaoimpl">
        <constructor-arg name="conn" value="3"/>
        <constructor-arg name="database" value="mysql"/>
    </bean>-->
    <!--<bean id="bookDao" class="com.test.dao.impl.BookDaoimpl">
        <constructor-arg type="int" value="3"/>
        <constructor-arg type="java.lang.String" value="mysql"/>
    </bean>-->
<!--    <bean id="userService" class="com.test.service.impl.UserServiceimpl">-->
<!--        &lt;!&ndash;        <property name="userDao" ref="userDao"/>&ndash;&gt;-->
<!--        &lt;!&ndash;        <property name="bookDao" ref="bookDao"/>&ndash;&gt;-->
<!--        <constructor-arg name="userDao" ref="userDao"/>-->
<!--        <constructor-arg name="bookDao" ref="bookDao"/>-->
<!--    </bean>-->
    <!--    <bean id="userDaoFactory" class="com.test.factory.UserDaoFactory"/>-->
    <!--    <bean id="userDao" com.test.factory-bean="userDaoFactory" com.test.factory-method="getUserDao"/>-->
    <!--    <bean id="userDao" class="com.test.factory.UserDaoFactoryBean"/>-->

</beans>